body, html {
  font-family: "Poppins", sans-serif;
}

.container-login-bg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
.container-login-bg .login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(180deg, #222222 0%, #000000 100%);
}
.container-login-bg .login-form .login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100vh;
}
.container-login-bg .login-form h1 {
  font-size: 3.75rem;
  color: #E0E0E0;
  margin-bottom: 16px;
  padding-top: 180px;
  align-self: flex-start;
}
.container-login-bg .login-form p {
  font-size: 1rem;
  color: #E0E0E0;
  width: 320px;
  align-self: flex-start;
  line-height: 20px;
  margin-bottom: 135px;
}
.container-login-bg .login-form form {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex-direction: column;
}
.container-login-bg .login-form legend {
  font-size: 1.875rem;
  color: #E0E0E0;
  margin-bottom: 32px;
}
.container-login-bg .login-form .container-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.container-login-bg .login-form .container-password {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 115px;
}
.container-login-bg .login-form .login-fail {
  display: flex;
  flex-direction: column;
  width: 280px;
  text-align: center;
  align-self: center;
  margin-bottom: 45px;
  line-height: 20px;
  color: #E9B425;
  position: absolute;
  margin-top: 250px;
  margin-right: 30px;
}
.container-login-bg .login-form .ocult {
  display: none;
}
.container-login-bg .login-form .button-continue {
  height: 60px;
  width: 90%;
  background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: bold;
}
.container-login-bg .inputs {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0);
  height: 60px;
  width: 20vw;
  border-radius: 50px;
  text-indent: 20px;
  margin-right: 18px;
  color: white;
}
.container-login-bg .inputs::-moz-placeholder {
  color: white;
}
.container-login-bg .inputs:-ms-input-placeholder {
  color: white;
}
.container-login-bg .inputs::placeholder {
  color: white;
}
.container-login-bg .inputs:focus {
  outline: white;
}
.container-login-bg .inputs-fail {
  border: 1px solid #E9B425;
}
.container-login-bg .icon-user {
  position: relative;
  right: 0px;
  transition: all 0.5s;
}
.container-login-bg .icon-pass {
  position: relative;
  right: 0px;
  transition: all 0.5s;
}
.container-login-bg .transition-icons {
  position: relative;
  right: 65px;
  transition: all 0.5s;
}
.container-login-bg .background-login {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../imgs/background.svg);
  background-size: cover;
  background-position: right, bottom;
}
.container-login-bg .background-login .logo-compass {
  width: 30%;
  padding-top: 35px;
}

body {
  background-image: url("../imgs/bola-LogoCompasso.svg");
  background-size: 28%;
  background-position-y: 210px;
  background-repeat: no-repeat;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  padding: 25px 40px 0px 40px;
}
.header-container .icon-compass {
  align-self: flex-start;
}
.header-container .header-time {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container .header-time .hours {
  display: flex;
}
.header-container .header-time .actual-time {
  font-size: 144px;
  font-weight: bold;
  color: #222222;
}
.header-container .header-time p {
  font-size: 144px;
}
.header-container .header-time .actual-day {
  font-size: 14px;
}
.header-container .weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container .weather-container .container-city {
  display: flex;
  justify-content: space-evenly;
  width: 150px;
}
.header-container .weather-container .container-city .city-name {
  color: #222222;
}
.header-container .weather-container .temp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container .weather-container .temp .actual-temp {
  font-size: 48px;
  font-weight: bold;
  margin-left: 10px;
}

.main-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 130px;
}
.main-container h1 {
  color: #C12D18;
  font-size: 64px;
  line-height: 81px;
  font-weight: bold;
}
.main-container h2 {
  font-size: 36px;
  color: #C12D18;
  line-height: 45px;
  font-weight: bold;
}
.main-container h3 {
  font-size: 24px;
  line-height: 30px;
  color: #222222;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 10vh;
  background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
}
.footer-container .container-1f {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer-container .container-1f h3 {
  display: flex;
  align-items: center;
  font-size: 12px;
  width: 600px;
  color: white;
  height: 60px;
  text-align: right;
}
.footer-container .container-1f h3::after {
  content: "";
  display: block;
  height: 60px;
  padding-right: 35px;
  border-right: 1px solid white;
}
.footer-container .container-2f {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-container .container-2f .refresh-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container .container-2f .refresh {
  color: white;
  width: 110px;
  margin-left: 120px;
  margin-right: 35px;
  text-align: right;
}
.footer-container .container-2f .countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container .container-2f .countdown .timer {
  color: white;
  font-size: 48px;
  font-weight: bold;
}
.footer-container .container-2f .countdown p {
  color: white;
}
.footer-container .container-2f .what-do {
  display: flex;
}
.footer-container .container-2f .what-do .a-keep {
  color: #C12D18;
}
.footer-container .container-2f .what-do .a-keep:hover {
  text-decoration: none;
}
.footer-container .container-2f .what-do .a-logout {
  color: #ffffff;
}
.footer-container .container-2f .what-do .a-logout:hover {
  text-decoration: none;
}
.footer-container .container-2f .what-do .keep-navigate {
  display: flex;
  align-items: center;
  text-align: center;
  width: 130px;
  min-height: 95px;
  background-color: #ffffff;
  color: #C12D18;
  font-size: 12px;
  line-height: 15px;
}
.footer-container .container-2f .what-do .logout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: content;
  font-size: 12px;
  color: white;
}/*# sourceMappingURL=style.css.map */